 .hobby1{
color: rgb(247, 72, 72); 
 }

 .hobby2{
    color: rgb(238, 193, 115);
 }

 body{
    background-color: rgb(167, 96, 234);
    margin: 0px;
 }

 header{
    display: flex; 
    justify-content: space-between;
    background-color: rgb(249, 236, 211);
    padding-left:21px ;
    padding-right: 21px;
 }
  
 nav{
    font-size: 32px;
    margin-top: 21.21px ;
    margin-bottom: 21px;
  }

  #content-container{
    background-color: purple;
    min-height: 100vh;
    padding-left: 24px;
    padding-right: 24px; 
    color: white;
  }

  .heading-nomargin-top{
    margin-top: 0px;
  }

  .about-img{
    width: 100px;
  }

  .about-img-1{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .about-section{
    color: inherit;
    border-top: 1px solid white;
  }

  .about-img-2{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .about-img-3{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .pro-img-1{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #form-layout{
    color: rgb(255, 255, 255);
    padding-left: 25px;
    font-size: larger;
  }

  #submit-container{
    text-align: center;
  }

  @media (max-width: 1000px) {
    body {
      color: blue;
    }
  }